<div class="container">

  <div class="listTreatment text-center row">
    <div *ngFor="let treatment of treatments" class="card col-4" id={{treatment.id}}>
      <div class="card-body">
        <img class="close" src="../../assets/icons/highlight_off-24px.svg" alt="Cerrar"
          (click)=deleteTreatment($event.target.parentNode.parentNode.id)>
        <h5 class="card-title">{{treatment.tittle}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{msg.duration}}: {{treatment.duration.minutes}}</h6>
        <p class="card-text">{{treatment.descripcion}}
        </p>

      </div>
    </div>
    <div class="col-4">

      <div type="button" data-toggle="modal" data-target="#exampleModal">
        <img class="add" src="../../assets/icons/add_circle_outline-24px.svg" alt="msg.add">
      </div>
      <p>{{msg.add}}</p>
    </div>
  </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{msg.add}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-treatment></app-add-treatment>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{msg.cancel}}</button>
        <button type="submit" class="btn btn-primary">{{msg.createtreatment}}</button>
      </div>
    </div>
  </div>
</div>
