<div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{msg.add}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="newtreatment">{{msg.treatment}}</label>
            <input type="text" class="form-control" formControlName="tittle" id="newtreatment"
              [placeholder]=msg.introduceAtreatment>
          </div>

          <div class="form-group">
            <label for="newDescription">{{msg.description}}</label>
            <input formControlName="description" type="textArea" class="form-control" id="newDescription"
              [placeholder]=msg.introduceDescription>
          </div>

          <div class="form-group">

            <label>{{msg.duration}}:</label>
            <div>
              <select class="custom-select col-4 selectpicker" formControlName="selectHour" id="newDuration">
                <option *ngFor="let hour of select.hours" value={{hour}}>{{hour}}</option>
              </select>
              <label for="newDuration">{{msg.hours}}</label>
            </div>
            <div>
              <select formControlName="selectMinute" class="custom-select col-4 selectpicker" id="newDuration">
                <option *ngFor="let minute of select.minutes" value={{minute}}>{{minute}}
                </option>
              </select>
              <label for="newDuration">{{msg.minutes}}</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{msg.cancel}}</button>
          <button type="submit" class="btn btn-primary">{{msg.createtreatment}}</button>
        </div>
      </div>
    </div>
  </form>

</div>
